body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {font-size: 3rem;color:#ebd0e9}
hr {margin: 20px auto;
    color: #d70b68;
    border: 3px solid #d70b68;
    max-width: 65px;
    opacity: 1;}


.btn {font-weight:700;
  border-radius: 300px;
  text-transform: uppercase}

.btn-primary {background-color: #d70b68;
  border-color: #d70b68;
  --bs-btn-hover-bg:#b60062 ; 
   --bs-btn-hover-border-color:#b60062 }
.btn-primary:hover 
{border-width: 4px}

.btn-xl {padding: 1rem 2rem}